 @model List<FileSorter.Models.GroupedData>

<div class="row folder-structure-row">
    <div class="col-md-10 offset-md-1">
        <div class="row">
            @foreach (var folder in Model)
            {
                <div class="col-md-4">
                    <p class="client-name"><b>@folder.EntityName</b></p>
                    @foreach (var client in folder.Clients)
                    {
                        int counter = 1;
                        <button class="year accordion">@client.ClassName</button>
                        <div class="file panel">
                            @foreach (var sc in client.SubClasses)
                            {
                                <p>@sc.SubClassName</p>
                                @foreach (var file in sc.FileName)
                                {
                                    <p>@counter - @file</p>
                                    counter++;
                                }
                            }
                            @foreach (var year in client.Years)
                            {
                                <p class="sub-class">@year.Year</p>
                                @foreach (var sc in year.SubClasses)
                                {
                                    <p>@sc.SubClassName</p>
                                    @foreach (var file in sc.FileName)
                                    {
                                        <p>@counter - @file</p>
                                        counter++;
                                    }
                                }
                            }
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>  

<div>
    <input hidden id="uploadSessionGuid" />
</div>